<div class="shake-box_pop__text">
    <div *ngIf="!(datatag.length !== 0)">
        {{text}}
    </div>
    <div *ngFor="#tag of datatag" (click)="deleteTag(tag,$event)" class="shake-box_pop__text__mini-tag {{tag.column}}">
        {{tag.tag}}
    </div>
</div>
