<div class="shake-box">
    <div class="shake-box_header">
        <div class="shake-box_title">
            Shakespeare Adaptation Generator
        </div>
        <div class="shake-box_pop">
            <shake-speak bind-datatag="datatags" on-deleteTagNotifier="deleteTagParent($event)"></shake-speak>
        </div>
        <div class="shake-box_profile">
            <img src="app/images/Shake.png"  (click)="addTagToSpeak()" alt="Shake">
        </div>
    </div>
    <div class="shake-tags">
        <tags-list  bind-memory="memory" bind-object="data" on-tagSelected="addTagToSpeak($event)"></tags-list>
    </div>
</div>
<div class="author" style="width:800px;margin:2px auto;">
    Images, Text and Idea of Tom Gauld. <a href="https://twitter.com/tomgauld">Twitter</a>, <a href="amazon.co.uk/dp/1770461043">Amazon</a>
</div>
