.shake-box{
  width: 800px;
  margin: 30px auto 2px;
  min-height: 500px;
  border:7px solid #70bae7;
  border-radius:30px;
}

.shake-box_header{
  background-color: #70bae7;
  width:100%;
  height: 50px;
  border-radius:20px 20px 0 0;

}

.shake-box_title{
      color:white;
  padding: 12px 20px;
  text-transform: uppercase;
  font-family: 'Handlee';
  font-style: italic;
  font-size: 20px;
}

.shake-box_pop{
  float: left;
  width: 80%;
  background-image: url('app/images/speak.png');
  background-repeat: no-repeat;
  background-position: top right;
  height: 80px;
  background-size: 90%;
  position: relative;
}

.shake-box_pop__text{
  padding: 15px 30px 20px 80px;
    font-family: 'Handlee';
    font-style: italic;
    word-spacing: 3px;


}

.shake-box_profile{
  float: right;
  width: 20%;
  text-align: left;
  margin-top: -40px;
}
.shake-box_profile img{
  width: 92px;
}

.shake-tags{
  width:100%;
  margin-top:10px;
}

.shake-tags_columns{
  float:left;
}

.shake-tags_tag{
      font-family: 'Handlee';
      font-style: italic;
      font-size: 19px;
      padding: 16px;
      text-transform: uppercase;
          background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
}

.col_one .shake-tags_tag{
  background-image: url('app/images/block1.png');
  width: 122px;
}

.col_two .shake-tags_tag{
  background-image: url('app/images/block2.png');

   width: 136px
}

.col_three .shake-tags_tag{
  background-image: url('app/images/block3.png');
  width:184px;
}

.col_four .shake-tags_tag{
  background-image: url('app/images/block4.png');
  width:230px;
}

.shake-box_pop__text__mini-tag{
    font-style: italic;
      font-size: 12px;
            padding: 11px 8px 8px;
      text-transform: uppercase;
          background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  float: left;
  margin:0 3px 0 0;
  font-weight: bold;
  box-shadow: 1px 1px 6px 0px #333;
}

.shake-box_pop__text__mini-tag.col_one{
  background-image: url('app/images/block1.png');
  width: 68px;
}

.shake-box_pop__text__mini-tag.col_two{
    background-image: url('app/images/block2.png');
   width: 77px
}

.shake-box_pop__text__mini-tag.col_three{
  background-image: url('app/images/block3.png');
  width:106px;
}

.shake-box_pop__text__mini-tag.col_four{
    background-image: url('app/images/block4.png');
    width:147px;
}

.author{
  color:#777;
  font-family: sans-serif;
  font-style: italic;
  font-size: 12px;
  text-align: right;
}