<div *ngFor="#columns of keys #i=index"  class="shake-tags_columns {{columns}}">
     <div *ngFor="#tag of Array[i]"  (click)="clickTag(columns,tag,i,$event)" class="shake-tags_tag">
         {{tag}}
     </div>
 </div>

